@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #24126e;
    text-align: center;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays tr {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days div {
    border: solid grey 0.5px;
    padding: 50px;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.mytd .active {
    padding: 5px;
    background: #52bab3; /*#1abc9c; */
    color: white !important
}
span {
    text-align: center;
    color: white;
    font-size: 22px;
}
tr {
    width: 100%;
}
.mytd {
    width: 10em;
    height: 10em;
}

.myA {
    text-decoration: none;
    color: black;
}

/* nieuwe stylings */

#summaLogo {
    width: 200px;
}
button[type="submit"] {
    width: 100%;
}

body {
    background-color: #F1F1F1;
}
.table thead {
    color: white;
     background-color: #1C4E80; 
}
.table tbody {
    color: #24126e;
     background-color: #f6f6ff; 
}

.navbar {
    background-color: #1C4E80;
}
#mySideNav {
    color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

hr {
    background-color: #f1f1f1;
}

h1 {
    color: #24126e;
    padding: 0;
}
h3 {
    color: #EA6A47;
}
.jumbotron {
    background-color: white;
}

.myAlignment {
    padding: 1em;
}

mark {
    padding: 0px;
    background-color: rgb(255, 201, 14);
}

#reportrange {
    background: white; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    width: 60%;
    border-radius: 5px;
}

#date_range{
    color: black;
    font-size: 15px;
}

#dayview_table {
    margin-top: 10px;
    width: 100%;
}